In [0]:
data_list = list(range(1, 11))
print(data_list)

# 変数の型
print('変数のタイプ:', type(data_list))

# 要素の取り出し
print('2番目の要素: ', data_list[1])

# 要素数
print('要素数: ', len(data_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
変数のタイプ: <class 'list'>
2番目の要素:  2
要素数:  10

In [0]:
# Let's Try
data_list_2 = list(range(1, 100)[0: -1: 10])
print(data_list_2)

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [0]:
# 配列に数値を掛けても長さが倍になるだけ。
data_list_3 = data_list * 2
print(data_list_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
# Let's Try
# 追加
data_list.append(11)
print(data_list)
# 削除
data_list.pop(0)
print(data_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [0]:
# 辞書型
dic_data = {'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}
print(dic_data['melon'])

# Let's Try
print(dic_data['orange']) # オレンジの値段
# リンゴとオレンジの合計金額
print(dic_data['apple'] + dic_data['orange'])

# Let's Try
# 要素の追加
dic_data['peach'] = 600
print(dic_data['peach'])

# 要素の削除
print(len(dic_data))
del dic_data['peach']
print(len(dic_data))

500
300
400
600
6
5

In [0]:
# タプル
tpl = (1, 2, 3 ,4, 5)
print(type(tpl))
print(tpl[2])

# 集合
st = { 5, 4, 3, 2, 1 }
print(type(st))

<class 'tuple'>
3
<class 'set'>