In [0]:
1 == 1

True

In [0]:
1 == 2

False

In [0]:
1 != 2

True

In [0]:
1 > 0

True

In [0]:
1 > 2

False

In [0]:
(1 > 0) and (10 > 5)

True

In [0]:
(1 < 0) or (10 > 5)

True

In [0]:
find_value = 5
data_list = list(range(0, 6))

if find_value in data_list:
    print("{0} was find in data_list!".format(find_value))
else:
    print("{0} was not find in data_list...".format(find_value))

print("here is always done.")

5 was find in data_list!
here is always done.

In [0]:
total = 0

for num in range(5):
    print("num: ", num)
    total += num
print("total: ", total)

num:  0
num:  1
num:  2
num:  3
num:  4
total:  10

In [0]:
dic_data = {'apple': 100, 'banana': 100,
            'orange': 300, 'mango': 400, 'melon': 500}

for key, value in dic_data.items():
    print("key: ", key)
    print("value: ", value)

key:  apple
value:  100
key:  banana
value:  100
key:  orange
value:  300
key:  mango
value:  400
key:  melon
value:  500

In [0]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [0]:
data_list = []

# リスト内法表記
data_list = [i * 2 for i in range(1, 11)]
print(data_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [0]:

# リスト内法表記２
[i * 2 for i in range(1, 11) if i % 2 == 0]

[4, 8, 12, 16, 20]

In [0]:
for one, two in zip(list(range(11)), list(range(11)[::-1])):
    print("one: ", one)
    print("two: ", two)

one:  0
two:  10
one:  1
two:  9
one:  2
two:  8
one:  3
two:  7
one:  4
two:  6
one:  5
two:  5
one:  6
two:  4
one:  7
two:  3
one:  8
two:  2
one:  9
two:  1
one:  10
two:  0

In [0]:
num = 1

while num <= 10:
    print(num)
    num += 1
print('last value is {0}.'.format(num))

1
2
3
4
5
6
7
8
9
10
last value is 11.